@{
    ViewBag.Title = "Tabs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- html创建 -->
<div style="margin: 20px">
    <div id="tt" class="easyui-tabs" style="width:600px;height:350px;">  
        <div title="Tab1" data-options="closable:true" style="padding:20px;">  
            tab1   
        </div>  
        <div title="Tab2" data-options="closable:true" style="overflow:auto;padding:20px;">  
            sdfsd   
        </div>  
        <div title="Tab3" data-options="iconCls:'icon-reload',closable:true" style="padding:20px;">  
            sdfs按时发达时   
        </div>  
    </div>  
</div>


<!--程序源码展示-->
<textarea style="width: 60%; height: 600px; float: left; margin-left: 20px; line-height: 20px; font-size: 13px;">
    <!-- html创建 -->
<div style="margin: 20px">
    <div id="tt" class="easyui-tabs" style="width:600px;height:350px;">  
        <div title="Tab1" data-options="closable:true" style="padding:20px;">  
            tab1   
        </div>  
        <div title="Tab2" data-options="closable:true" style="overflow:auto;padding:20px;">  
            sdfsd   
        </div>  
        <div title="Tab3" data-options="iconCls:'icon-reload',closable:true" style="padding:20px;">  
            sdfs按时发达时   
        </div>  
    </div>  
</div>

</textarea>